:root {
  --rgf-heat-color: #c24e00;

  [data-rgf-heat="1"] {
    color: color-mix(
      in srgb,
      var(--rgf-heat-color) 100%,
      var(--fgColor-muted, var(--color-fg-muted, fuchsia))
    ) !important;
  }

  [data-rgf-heat="2"] {
    color: color-mix(
      in srgb,
      var(--rgf-heat-color) 90%,
      var(--fgColor-muted, var(--color-fg-muted, fuchsia))
    ) !important;
  }

  [data-rgf-heat="3"] {
    color: color-mix(
      in srgb,
      var(--rgf-heat-color) 80%,
      var(--fgColor-muted, var(--color-fg-muted, fuchsia))
    ) !important;
  }

  [data-rgf-heat="4"] {
    color: color-mix(
      in srgb,
      var(--rgf-heat-color) 70%,
      var(--fgColor-muted, var(--color-fg-muted, fuchsia))
    ) !important;
  }

  [data-rgf-heat="5"] {
    color: color-mix(
      in srgb,
      var(--rgf-heat-color) 60%,
      var(--fgColor-muted, var(--color-fg-muted, fuchsia))
    ) !important;
  }

  [data-rgf-heat="6"] {
    color: color-mix(
      in srgb,
      var(--rgf-heat-color) 50%,
      var(--fgColor-muted, var(--color-fg-muted, fuchsia))
    ) !important;
  }

  [data-rgf-heat="7"] {
    color: color-mix(
      in srgb,
      var(--rgf-heat-color) 40%,
      var(--fgColor-muted, var(--color-fg-muted, fuchsia))
    ) !important;
  }

  [data-rgf-heat="8"] {
    color: color-mix(
      in srgb,
      var(--rgf-heat-color) 30%,
      var(--fgColor-muted, var(--color-fg-muted, fuchsia))
    ) !important;
  }

  [data-rgf-heat="9"] {
    color: color-mix(
      in srgb,
      var(--rgf-heat-color) 20%,
      var(--fgColor-muted, var(--color-fg-muted, fuchsia))
    ) !important;
  }

  [data-rgf-heat="10"] {
    color: color-mix(
      in srgb,
      var(--rgf-heat-color) 0%,
      var(--fgColor-muted, var(--color-fg-muted, fuchsia))
    ) !important;
  }
}
