/* Hide the +/- signs in diff views */

.code-diff-unified col:nth-child(4) {
  width: 0 !important;
}

.code-diff-split col:nth-child(3),
.code-diff-split col:nth-child(7) {
  width: 0 !important;
}

.lines-type-marker {
  width: 0 !important;
  min-width: 0 !important;
  padding: 0 !important;
  border: 0 !important;
}

.lines-type-marker [data-type-marker]::before {
  content: none !important;
}
