.comment-body,
.markup {
  blockquote,
  pre {
    max-height: 30.5em;
    overflow-y: auto;
  }

  :is(details, blockquote) :is(blockquote, pre) {
    max-height: none;
  }
}

.rgf-scrollable-expanded {
  max-height: none !important;
}
