.timeline-item.comment .comment-header {
  position: sticky;
  top: -1px;
  z-index: 3;
}

.timeline-item.comment .comment-header:has(.dropdown.active.visible) {
  z-index: 4;
}

.rgf-sticky-avatar {
  visibility: hidden;
  opacity: 0;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin-right: 4px;
  vertical-align: middle;
  transition: opacity 0.15s;
}

.rgf-sticky-avatar.rgf-sticky-avatar-visible {
  visibility: visible;
  opacity: 1;
}
