.timeline-item.comment .comment-header {
  position: sticky;
  top: -1px;
  z-index: 3;
}

.timeline-item.comment .comment-header:has(.dropdown.active.visible) {
  z-index: 4;
}

.rgf-sticky-avatar {
  display: none;
  width: 14px;
  height: 14px;
  margin-right: 4px;
  vertical-align: middle;
}

.rgf-sticky-avatar.rgf-sticky-avatar-visible {
  display: inline-block;
}

@media (max-width: 767.98px) {
  .timeline-item.comment .comment-header .rgf-sticky-avatar {
    display: none !important;
  }
}
